html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
   

}
.body{
    font-size: 1.6rem;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;

}
/* common */
:root{
    --primary-color:#2E80CE;
}
.btn{
    text-align: center;
    line-height: 60px;
    display: inline-block;
    width: 205px;
    height: 60px;
    border-radius:30px;
    background:var(--primary-color);
    color: #fff;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
}
.title{
color: #10375C;
font-family: Sora;
}
.tt.t1{
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
}

.tt.t2{
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
}
.tt.t3{
    font-size: 5rem;
    font-style: normal;
    font-weight: 600;
}
.tt.t4{
    font-size: 7rem;
    font-style: normal;
    font-weight: 600;
}


.desc{
color: #575F66;
font-family: Sora;
}
a{
    text-decoration: none;
}

.container{
    width: 1170px;
    margin: auto;
    max-width: calc(100% - 48px);
}
.header , .main-content{
   
    /* height: 100vh; */
    padding: 36px 110px;
    background-color: #10375C;
}
.header .logo{
    position: relative;
}
.header .logo .circle::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: var(--primary-color);
    border-radius: 999px;
}
.header .logo .circle--during::before{
    position: absolute;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color:#fff;
    border-radius: 999px;
    top: 11px;
    left: 11px;

    
}.header-sticky{
    position: sticky;
    top: -16px;
    padding: 20px 0;
}

  
.header .nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.header .nav-bar .logo{
    font-size: 1rem;
    display: flex;
}
/* list */
.header .nav-bar .list{
    position: relative;
    row-gap: 42px;
    margin-left: 315px;
    display: flex;
  
}

.header .nav-bar .list .circle__small::before{
    display: inline-block;
    position: absolute;margin-left: 42px;
    top: 5px;
    left: -5px;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 999px;
}
.header .nav-bar .list--item a{
    padding: 12px 10px;
margin-left: 42px;
color :#C9D2DA;
text-align: center;
font-family: Sora;
font-size: 1.6rem;
font-style: normal;
font-weight: 300;
}
.header .nav-bar .action{
    color: #C9D2DA;
    text-align: right;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-left:auto;

} .nav-bar .text--cover .text__big {
    margin-left: 6px;
   color: #FFF;
   font-family: Sora;
   font-size: 1.8em;
   font-style: normal;
   font-weight: 400;

}
.nav-bar .text--cover .text__small{
color: #FFF;
text-align: right;
font-family: Sora;
font-size: 1.2em;
font-style: normal;
font-weight: 300;

}.header .nav-bar .action .btn{
    color: #fff;
    width: 104px;
    max-height: 44px;
    line-height:44px ;
    margin-left: 28px;
    text-align: center;
}

/* main-cotent */
   

.main-content .info .title{
width: 517px;
color: #FFF;
font-family: Sora;
font-size: 7rem;
font-style: normal;
font-weight: 600;
line-height: 1.14; /* 114.286% */
letter-spacing: -1.4px;
}
.main-content-row .info .desc{
margin-top: 22px;
width: 468px;
color: #C9D2DA;
font-family: Sora;
font-size: 1.8rem;
font-style: normal;
font-weight: 300;
line-height: 1.67; /* 166.667% */
}
.main-content__row{
    padding: 76px 0 110px 0;
    display: flex;
}
.main-content .info .btn{
    display: inline-block;
    text-align: center;
    line-height :60px;
    color: #fff;
}
.main-content .info .desc{
font-family: Sora;
font-size: 1.8rem;
font-style: normal;
font-weight: 400;
line-height: 1.67; /* 166.667% */
}
.main-content .info .info__btn-row{
    margin-top: 38px;
    font-size: 1.8rem;
    display:flex;
    align-items: center;

}
.main-content .info__btn-row .contact_tel{
    color: #FFF;
    margin-left: 38px;
    text-align: center;
    font-family: Sora;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}
.main-content .main--content__image{
    display: flex;
    align-items: center;
}
.main-content .main--content__image .img-1{
    width: 330px;
    height: 540px;
    object-fit: cover;
}
.main-content .main--content__image .img-2{
    width: 210px;
    height: 410px;
    object-fit: cover;
    border-top-right-radius:6px ;
    border-bottom-right-radius:6px ;
}

/* ourservices */
.our-services-1{
    margin-top: 170px;
}
.our-services-1 .header__ourservices .title{
color: #10375C;
text-align: center;
font-family: Sora;
font-size: 5rem;
font-style: normal;
font-weight: 600;
line-height: 1.2; /* 120% */
letter-spacing: -1px;
}
.our-services-1 .header__ourservices .desc{
    margin-top: 18px;
color: #575F66;
text-align: center;
font-family: Sora;
font-size: 1.8rem;
font-style: normal;
font-weight: 300;
line-height: 1.67; /* 166.667% */
}
.main__ourservices{
    padding: 70px 0 170px;
    display: flex;
    flex: 1;

}
.main__ourservices{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__ourservices .column--text{
    padding:35px 0 35px 130px ;
    justify-content: center;
    align-items: center;
   
}
.main__ourservices .text--ourservices{
    display: flex;
    justify-content: center;
}
.main__ourservices .text--ourservices + .text--ourservices{
    margin-top: 41px;
}
.main__ourservices .text--ourservices .background-img{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2E80CE;
}
 .text--ourservices .background-img .item-img{
    width: 24px;
    line-height: 24px;
    height: 24px;
   
 }
  .main__ourservices .text--ourservices .white--bg{
   background-color:#EFF6FD;
 }
 .main__ourservices .row-ourservices .title{
    color: #10375C;
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
 }
 .main__ourservices .row-ourservices{
    margin-left: 19px;
 }
 .main__ourservices .row-ourservices .desc{
color: #575F66;
margin-top: 8px;
width: 351px;
font-family: Sora;
font-size: 1.6rem;
font-style: normal;
font-weight: 300;
line-height: 28px; /* 175% */
 }
 .column--text .btn{
    display: block;
    text-align: center;
    line-height :60px; 
    font-family: Sora;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    margin-top: 55px;
    }
    .section-1 .knowlegde-list{
        padding: 100px 0;
        background: #F6FBFF;
    }
.knowlegde-list .top-knowlegde .title{
    color: #10375C;
    font-family: Sora;
    font-size: 5rem ;
    font-style: normal;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
    margin-bottom: 18px;
}
.knowlegde-list .top-knowlegde .desc{
color: #575F66;
width: 468px;
font-family: Sora;
font-size: 1.8rem;
font-style: normal;
font-weight: 300;
line-height: 30px; /* 166.667% */
}
.knowlegde-list .top-knowlegde{
    margin-bottom: 70px;
}
.knowlegde-list .search-knowlegde .title{
    margin-top: 18px;
    color: #10375C;
    font-family: Sora;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.38; /* 138.462% */
}
.knowlegde-list .search-knowlegde .desc{
    color: #575F66;
    margin-top: 28px;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75; /* 175% */
    width: 254px;
}
.knowlegde-list .search-knowlegde .link {
    display: block;
    color: #2E80CE;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    margin-top: 18px;
}
.section-1 .search-knowlegde{
    width: 338px;
    padding: 43px 0px 43px 42px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    transition: width 0.5s ease-in-out;
}

.section-1 .list__item--knowlegde{
    display: flex;
    column-gap: 30px;
}
.section-1 .list__item--knowlegde .search-knowlegde:hover{
  outline:16px solid #2E80CE;
}
.section-2{
    padding: 170px 0;
}
.section-2 .item__section-2{
    display: flex;
}
.item__section-2 .image__sc--2{
    position: relative;
    width: 49%;
}
.item__section-2 .image__sc--2 .img--bigger{
    width: 512px;
    border-radius: 6px;
    height: 370px;
    object-fit: cover;
}
.item__section-2 .image__sc--2 .img--smaller{
    width: 332px;
    height: 370px;
    object-fit: cover;
    position: absolute;
    top: 112px;
    left:238px;
}
.item__section-2 .info__cs--2{
    /* margin: 53px 0px 53px 130px; */
    margin-left: auto;
}
.item__section-2 .info__cs--2 .title{
width: 470px;
color: #10375C;
font-family: Sora;
font-size: 5rem;
font-style: normal;
font-weight: 600;
line-height: 1.2; /* 120% */
letter-spacing: -1px;
margin-bottom: 18px;
}
.item__section-2 .info__cs--2 .desc{
color: #575F66;
width: 468px;
font-family: Sora;
font-size: 1.8rem;
font-style: normal;
font-weight: 300;
line-height: 1.67; /* 166.667% */
margin-bottom: 38px;
}
.section-3{
    padding-bottom:170px;
}
.section-3 .content .title{
color: #10375C;
text-align: center;
font-family: Sora;
font-size: 5rem;
font-style: normal;
font-weight: 600;
line-height: 1.2; /* 120% */
letter-spacing: -1px;

}.section-3 .content .btn{
display: flex;
align-items: center;
justify-content: center;
margin: auto;
margin-top: 38px;
margin-bottom: 70px;
}
.section-3 .img-section-3{
    flex: 1;
    gap: 34px;
    display: flex;
    text-align: center;
}
.section-3 .img-section-3 .imamge-doctor{
width: 270px;
height: 290px;
border-radius: 6px;
object-fit: cover;
}
.img-section-3 .item--image .name{
    color: #10375C;
    font-family: Sora;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    margin-top: 12px;
}
.img-section-3 .item--image .introduce{
color: #575F66;
font-family: Sora;
font-size: 1.4rem;
font-style: normal;
font-weight: 300;
margin-top: 5px;
}
.section-3 .row-characters{
    display: flex;
    justify-content: space-around;
    width: 90px;
}
    
.section-3 .row--characters{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 90px;
    margin-top: 38px;
}
    

.section-3 .row--characters .white{
    font-size: 20px;
    color:#575F66;
    display: block;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    width: 36px;
    height: 36px;
    border: 1px solid #575F66;
}
.section-3 .row--characters .blue{
    font-size: 20px;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 36px;
    width: 36px;
    height: 36px;
    background-color: #2E80CE;
    border-radius: 50%;
}


.section-4{
    padding:95px 0 170px 0;
    
}

.section-4 .img--sc-4{
    position: relative;
    bottom: 0;
    left: 70px;
    width: 284px;
    height: 522px;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.section-4 .row--section-4{
    display: flex;
    background-color: var(--primary-color);

}
.row--section-4 .info {
    padding: 75px 0 75px 160px;
}
.row--section-4 .info .title{
width: 489px;
color: #FFF;
font-family: Sora;
font-size: 5rem;
font-style: normal;
font-weight: 600;
line-height: 1.2; /* 120% */
letter-spacing: -1px;
margin-bottom: 18px;
}
.row--section-4 .info .desc{
width: 586px;
color: #FFF;
font-family: Sora;
font-size: 1.8rem;
font-style: normal;
font-weight: 300;
line-height: 30px; /* 166.667% */
}
.row--section-4 .info .row-icon{
    margin-top: 38px;
    display: flex;
    column-gap: 28px;
    align-items: center;
}